@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    @apply font-primary
  }
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.hidden-scroll-bar {
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}